@media screen and (max-width:575px) {

    /* Adapté pour 300x575 */

    #logo {
        width:30%;
    }
    .menu_black {
        font-size:12px;
        display:flex;
        align-items: center;
        justify-content:center;
        padding:0;
        max-height:20px;
    }
    h1#slg {
        font-size: 14px;
    }
    h1 {
        font-size: 15px;
        padding-left: 5px;
    }
    p {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }
    #promo {
        max-height:80px;
    }
    #s1 {
        padding:0;
        width:100%;
    }
    #s1 h1 p {
        padding:1px;
    }
    #aside {
        width: 100%;
        border:0;
        padding:0;
        margin:0;
        margin-top: 5px;
        margin-bottom: 0;
    }
    hr {
        margin:5px;
        padding:0px;
    }
}